@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .menuItem{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

  }

  .title{ 
    margin: 15px;
    font-weight: bold;
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-style: italic;
  }

  .item{
    margin: 15px;
    font-size: 20px;
    color:black;
    text-decoration: none;
  }

  .menuItem a:hover{
    color: teal;
  }

  .menuItem p{
    font-style: italic;
  }


  .image{
    width: 100%;
  }
