*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    text-align: center;
    padding: 40px 0;
}



.rodape{
    color:black;
    font-size: 14px;
    font-family: monospace;
    margin-top: 10px;
    margin-block-end: 20px;
}